body{
    font-family: 'Lato', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif; 
    color: rgb(113, 198, 238)    ;

}
.colorhead{
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
background: rgb(179,220,237); /* Old browsers */
background: -moz-linear-gradient(left,  rgb(179,220,237) 0%, rgb(41,184,229) 50%, rgb(188,224,238) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgb(179,220,237) 0%,rgb(41,184,229) 50%,rgb(188,224,238) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgb(179,220,237) 0%,rgb(41,184,229) 50%,rgb(188,224,238) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=1 ); /* IE6-9 */

}
.imagen1{
    width: 200px;
    margin-left: 200px;
    border-radius: 50px;
}
.ventajas{
    background-color: #a4fca44d;
}
.desventajas{
    background-color: rgba(245, 140, 140, 0.205);
}
h2{
    color: rgb(255, 255, 255);
}